.Grid {
    border: 1px solid #ccc;
    border-collapse: collapse;
}

    .Grid th {
        background-color: #F7F7F7;
        font-weight: bold;
    }

    .Grid th, .Grid td {
        padding: 5px;
        border: 1px solid #ccc;
    }

    .Grid, .Grid table td {
        border: 0px solid #ccc;
    }

        .Grid th a, .Grid th a:visited {
            color: #333;
        }
